#mainChatContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 23, 61, 0.2);
}

#userHeaderContainer {
  min-height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

#userHeaderNameText {
  text-align: left;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

#userHeaderOnlineStatus {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.onlineStatusBubble {
  background-color: #47ffa6;
  box-shadow: 0 0 10px 5px rgba(71, 255, 166, 0.4);
}

.offlineStatusBubble {
  background-color: #ff483b;
  box-shadow: 0 0 10px 5px rgba(255, 72, 59, 0.4);
}

#userHeaderOnlineStatusTextContainer {
  opacity: 0.5;
  background-color: rgba(0, 23, 61, 1);
  width: 90px;
  height: 30px;
  margin-left: 20px;
  border-radius: 15px 5px 5px 15px;
  display: none;
  align-items: center;
}

#userHeaderOnlineStatusArrow {
  background-color: rgba(0, 23, 61, 1);
  width: 27px;
  height: 27px;
  margin-left: -1px;
  border-radius: 15px 0 15px 0;
  -webkit-transform: rotateZ(45deg);
}

#userHeaderOnlineStatusText {
  width: 20px;
  margin-left: 0px;
  z-index: 1;
}

#messagesContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  max-height: 100%;
  padding: 0 30px 25px 30px;
  scroll-behavior: smooth;
  overflow: scroll;
}

#messageBoxContainer {
  height: 50px;
  margin: 0 30px 20px 30px;
  display: flex;
  justify-content: center;
}