#mainChatContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 20px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#userHeaderContainer {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 23, 61, 0.8);
  border-bottom: 1px solid black;
}

#userHeaderNameText {
  text-align: left;
  margin-left: 30px;
  color: white;
}

#userHeaderOnlineStatus {
  background-color: #47ffa6;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(71, 255, 166, 0.4);
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

#messageBoxContainer {
  height: 50px;
  margin: 0 30px 10px 30px;
  display: flex;
  justify-content: center;
}
