#sidebarContainer {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebarHeader {
  text-align: left;
  margin: 0 10px;
}

.directMessageContainer {
  cursor: pointer;
  margin: 0 10px;
  border-radius: 3px;
}

.directMessageContainer:hover {
  background-color: rgba(0, 0, 0, 0.15);
  outline: 1px solid rgba(54, 231, 255, 0.5);
}

.directMessageContainer:hover .directMessageName {
  color: rgba(255, 255, 255, 0.8);
}

.directMessageName {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
}

.selectedDirectMessageContainer {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 10px;
  border-radius: 3px;
  outline: 1px solid rgba(54, 231, 255, 0.9);
}

.selectedDirectMessageName {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  color: white;
}

#sidebarButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.sbButtons {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.4;
}

#darkModeButton {
  background-image: url("../../public/dark_mode_icon.svg");
}

#darkModeButton:hover {
  opacity: 1;
}

#logoutButton {
  background-image: url("../../public/logout_icon.svg");
}

#logoutButton:hover {
  opacity: 1;
}
