#sidebarContainer {
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 23, 61, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebarHeader {
  /* background-color: blue; */
  color: white;
  text-align: left;
  margin: 0 10px;
}

#directMessageContainer {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 10px;
  border-radius: 3px;
}

#directMessageContainer:hover {
  background-color: rgba(0, 0, 0, 0.15);
  outline: 1px solid rgba(54, 231, 255, 0.5);
}

#directMessageContainer:hover #directMessageName {
  color: rgba(255, 255, 255, 1);
}

#directMessageName {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
}

#sidebarButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.sbButtons {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 5px;
}

#darkModeButton {
  background-image: url("../../public/dark_mode_icon.svg");
}

#logoutButton {
  background-image: url("../../public/logout_icon.svg");
}
